In [3]:

import pandas as pd
from IPython.display import display

def gerar_dicionario_dados():
    cliente = pd.DataFrame({
        "Atributo": ["ID", "NOME", "TELEFONE", "ENDERECO"],
        "Descrição": [
            "Identificador único do cliente",
            "Nome do cliente",
            "Telefone do cliente",
            "Endereço do cliente"
        ],
        "Domínio": ["Int", "Varchar(60)", "Varchar(20)", "Varchar(60)"],
        "Restrição do atributo": ["Chave Primária (Dourada)", "Não aceita valor nulo", "-", "-"]
    })

    pedidos_servico = pd.DataFrame({
        "Atributo": ["ID", "DESCRICAO_PROBLEMA", "ORCAMENTO", "ID_CLIENTE"],
        "Descrição": [
            "Identificador único do pedido de serviço",
            "Descrição do problema relatado",
            "Orçamento estimado para o serviço",
            "Identificador do cliente"
        ],
        "Domínio": ["Int", "Varchar", "Numeric(10,2)", "Int"],
        "Restrição do atributo": ["Chave Primária (Dourada)", "-", "-", "Chave Estrangeira (Prateada)"]
    })

    ordem_servico = pd.DataFrame({
        "Atributo": ["ID", "DATA_INICIO", "DATA_FIM", "ID_PEDIDO_SERVICO"],
        "Descrição": [
            "Identificador único da ordem de serviço",
            "Data de início da ordem de serviço",
            "Data de término da ordem de serviço",
            "Identificador do pedido de serviço"
        ],
        "Domínio": ["Int", "Datetime", "Datetime", "Int"],
        "Restrição do atributo": ["Chave Primária (Dourada)", "-", "-", "Chave Estrangeira (Prateada)"]
    })

    tecnico = pd.DataFrame({
        "Atributo": ["ID", "NOME", "ESPECIALIDADE", "EMAIL"],
        "Descrição": [
            "Identificador único do técnico",
            "Nome do técnico",
            "Especialidade do técnico",
            "E-mail do técnico"
        ],
        "Domínio": ["Int", "Varchar(60)", "Varchar(60)", "Varchar(60)"],
        "Restrição do atributo": ["Chave Primária (Dourada)", "Não aceita valor nulo", "-", "-"]
    })

    tecnico_ordem_servico = pd.DataFrame({
        "Atributo": ["ID_ORDEM_SERVICO", "ID_TECNICOS"],
        "Descrição": [
            "Identificador da ordem de serviço",
            "Identificador do técnico"
        ],
        "Domínio": ["Int", "Int"],
        "Restrição do atributo": ["Chave Estrangeira (Prateada)", "Chave Estrangeira (Prateada)"]
    })

    pecas_utilizada = pd.DataFrame({
        "Atributo": ["ID", "QUANTIDADE_USADA", "ID_ESTOQUE_PECAS", "ID_ORDEM_SERVICOS"],
        "Descrição": [
            "Identificador único do uso de uma peça",
            "Quantidade de peças utilizadas",
            "Identificador da peça no estoque",
            "Identificador da ordem de serviço"
        ],
        "Domínio": ["Int", "Int", "Int", "Int"],
        "Restrição do atributo": ["Chave Primária (Dourada)", "-", "Chave Estrangeira (Prateada)", "Chave Estrangeira (Prateada)"]
    })

    estoque_peca = pd.DataFrame({
        "Atributo": ["ID", "NOME", "PRECO", "QUANTIDADE_DISPONIVEL"],
        "Descrição": [
            "Identificador único da peça",
            "Nome da peça",
            "Preço unitário da peça",
            "Quantidade disponível em estoque"
        ],
        "Domínio": ["Int", "Varchar(60)", "Numeric(10,2)", "Int"],
        "Restrição do atributo": ["Chave Primária (Dourada)", "Não aceita valor nulo", "-", "-"]
    })

    historico_status = pd.DataFrame({
        "Atributo": ["ID", "STATUS", "DATA", "ID_ORDEM_SERVICO"],
        "Descrição": [
            "Identificador único do histórico de status",
            "Status atual da ordem de serviço",
            "Data de atualização do status",
            "Identificador da ordem de serviço"
        ],
        "Domínio": ["Int", "Varchar(30)", "Datetime", "Int"],
        "Restrição do atributo": ["Chave Primária (Dourada)", "-", "-", "Chave Estrangeira (Prateada)"]
    })

    controle_pagamento = pd.DataFrame({
        "Atributo": ["ID", "FORMA_PAGAMENTO", "PRECO", "PAGO", "ID_ORDEM_SERVICO"],
        "Descrição": [
            "Identificador único do controle de pagamento",
            "Forma de pagamento",
            "Valor do pagamento",
            "Status do pagamento",
            "Identificador da ordem de serviço"
        ],
        "Domínio": ["Int", "Varchar(30)", "Numeric(10,2)", "Varchar(30)", "Int"],
        "Restrição do atributo": ["Chave Primária (Dourada)", "-", "-", "-", "Chave Estrangeira (Prateada)"]
    })

    # Exibir cada tabela usando display
    print("Tabela CLIENTE")
    display(cliente)

    print("\nTabela PEDIDOS_SERVICO")
    display(pedidos_servico)

    print("\nTabela ORDEM_SERVICO")
    display(ordem_servico)

    print("\nTabela TECNICO")
    display(tecnico)

    print("\nTabela TECNICO_ORDEM_SERVICO")
    display(tecnico_ordem_servico)

    print("\nTabela PECAS_UTILIZADA")
    display(pecas_utilizada)

    print("\nTabela ESTOQUE_PECA")
    display(estoque_peca)

    print("\nTabela HISTORICO_STATUS")
    display(historico_status)

    print("\nTabela CONTROLE_PAGAMENTO")
    display(controle_pagamento)

gerar_dicionario_dados()

Tabela CLIENTE

,Atributo,Descrição,Domínio,Restrição do atributo
0,ID,Identificador único do cliente,Int,Chave Primária (Dourada)
1,NOME,Nome do cliente,Varchar(60),Não aceita valor nulo
2,TELEFONE,Telefone do cliente,Varchar(20),-
3,ENDERECO,Endereço do cliente,Varchar(60),-

Tabela PEDIDOS_SERVICO

,Atributo,Descrição,Domínio,Restrição do atributo
0,ID,Identificador único do pedido de serviço,Int,Chave Primária (Dourada)
1,DESCRICAO_PROBLEMA,Descrição do problema relatado,Varchar,-
2,ORCAMENTO,Orçamento estimado para o serviço,"Numeric(10,2)",-
3,ID_CLIENTE,Identificador do cliente,Int,Chave Estrangeira (Prateada)

Tabela ORDEM_SERVICO

,Atributo,Descrição,Domínio,Restrição do atributo
0,ID,Identificador único da ordem de serviço,Int,Chave Primária (Dourada)
1,DATA_INICIO,Data de início da ordem de serviço,Datetime,-
2,DATA_FIM,Data de término da ordem de serviço,Datetime,-
3,ID_PEDIDO_SERVICO,Identificador do pedido de serviço,Int,Chave Estrangeira (Prateada)

Tabela TECNICO

,Atributo,Descrição,Domínio,Restrição do atributo
0,ID,Identificador único do técnico,Int,Chave Primária (Dourada)
1,NOME,Nome do técnico,Varchar(60),Não aceita valor nulo
2,ESPECIALIDADE,Especialidade do técnico,Varchar(60),-
3,EMAIL,E-mail do técnico,Varchar(60),-

Tabela TECNICO_ORDEM_SERVICO

,Atributo,Descrição,Domínio,Restrição do atributo
0,ID_ORDEM_SERVICO,Identificador da ordem de serviço,Int,Chave Estrangeira (Prateada)
1,ID_TECNICOS,Identificador do técnico,Int,Chave Estrangeira (Prateada)

Tabela PECAS_UTILIZADA

,Atributo,Descrição,Domínio,Restrição do atributo
0,ID,Identificador único do uso de uma peça,Int,Chave Primária (Dourada)
1,QUANTIDADE_USADA,Quantidade de peças utilizadas,Int,-
2,ID_ESTOQUE_PECAS,Identificador da peça no estoque,Int,Chave Estrangeira (Prateada)
3,ID_ORDEM_SERVICOS,Identificador da ordem de serviço,Int,Chave Estrangeira (Prateada)

Tabela ESTOQUE_PECA

,Atributo,Descrição,Domínio,Restrição do atributo
0,ID,Identificador único da peça,Int,Chave Primária (Dourada)
1,NOME,Nome da peça,Varchar(60),Não aceita valor nulo
2,PRECO,Preço unitário da peça,"Numeric(10,2)",-
3,QUANTIDADE_DISPONIVEL,Quantidade disponível em estoque,Int,-

Tabela HISTORICO_STATUS

,Atributo,Descrição,Domínio,Restrição do atributo
0,ID,Identificador único do histórico de status,Int,Chave Primária (Dourada)
1,STATUS,Status atual da ordem de serviço,Varchar(30),-
2,DATA,Data de atualização do status,Datetime,-
3,ID_ORDEM_SERVICO,Identificador da ordem de serviço,Int,Chave Estrangeira (Prateada)

Tabela CONTROLE_PAGAMENTO

,Atributo,Descrição,Domínio,Restrição do atributo
0,ID,Identificador único do controle de pagamento,Int,Chave Primária (Dourada)
1,FORMA_PAGAMENTO,Forma de pagamento,Varchar(30),-
2,PRECO,Valor do pagamento,"Numeric(10,2)",-
3,PAGO,Status do pagamento,Varchar(30),-
4,ID_ORDEM_SERVICO,Identificador da ordem de serviço,Int,Chave Estrangeira (Prateada)